<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">留言管理</h1>
</div>
<div class="wrapper-md text-center" ng-controller="MessagesCtrl">
   
    <table class="table table-striped">
        <thead>
            <tr align="center">
                <td style="width:50px;">ID</td>
                <td>姓名</td>
                <td style="width:90px;">电子邮箱</td>
                <td style="width:80px;">电话</td>                             
                <td>标题</td>
                <td style="width:90px;">状态</td>
                <td style="width:200px;">操作</td>
            </tr>
        </thead>
        <tbody align="center">
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>              
                <td>{{item.subject}}</td>
                <td>{{item.is_read}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="ckUserView(item.id)">查看</button>
                  
                    <button type="button" class="btn btn-danger" ng-click="ckUserDelete(item.id)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
</div>
