<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">文章管理</h1>
</div>
<div class="wrapper-md text-center" ng-controller="ProjectsCtrl">
    <div class="input-group" style="width: 500px;">
        <input type="text" ng-model="keyword" class="form-control" placeholder="搜索文章名称" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2" ng-click="ckSearch()">搜索</span>
        <button type="button" class="btn btn-primary pull-right" ng-click="ckAdd()">新建文章</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr align="center">
                <td style="width:50px;">ID</td>
                <td>标题</td>
                <td>描述标题</td>
                <td style="width:80px;">发布时间</td>
                <td style="width:80px;">阅读量</td>
                <td style="width:80px;">是否为公司简介</td>
                <td style="width:200px;">操作</td>
            </tr>
        </thead>
        <tbody align="center">
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.descript}}</td>
                <td>{{item.publish_time}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.is_company_intro}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="ckView(item.id)">查看
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="ckEdit(item.id)">编辑</button>
                    <button type="button" class="btn btn-danger" ng-click="ckDelete(item.id)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
</div>
