<div class="row">
    <form class="sform">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="搜索公司
/地区/项目/类型" aria-describedby="basic-addon1">
        </div>
    </form>
</div>
<div id="content" onload="">
    <div id="scroller">
        <div id="pullDown" class="ub ub-pc c-gra">
            <div class="pullDownIcon"></div>
            <div class="pullDownLabel">下拉刷新</div>
        </div>
        <ul id="add">
            <li>Pretty row 1</li>
            <li>Pretty row 2</li>
            <li>Pretty row 3</li>
            <li>Pretty row 4</li>
            <li>Pretty row 5</li>
            <li>Pretty row 6</li>
            <li>Pretty row 7</li>
            <li>Pretty row 8</li>
            <li>Pretty row 9</li>
            <li>Pretty row 10</li>
            <li>Pretty row 11</li>
            <li>Pretty row 12</li>
            <li>Pretty row 13</li>
            <li>Pretty row 14</li>
            <li>Pretty row 15</li>
            <li>Pretty row 16</li>
            <li>Pretty row 17</li>
            <li>Pretty row 18</li>
            <li>Pretty row 19</li>
            <li>Pretty row 20</li>
            <li>Pretty row 21</li>
            <li>Pretty row 22</li>
            <li>Pretty row 23</li>
            <li>Pretty row 24</li>
            <li>Pretty row 25</li>
            <li>Pretty row 26</li>
            <li>Pretty row 27</li>
            <li>Pretty row 28</li>
            <li>Pretty row 29</li>
            <li>Pretty row 30</li>
            <li>Pretty row 31</li>
            <li>Pretty row 32</li>
            <li>Pretty row 33</li>
            <li>Pretty row 34</li>
            <li>Pretty row 35</li>
            <li>Pretty row 36</li>
            <li>Pretty row 37</li>
            <li>Pretty row 38</li>
            <li>Pretty row 39</li>
            <li>Pretty row 40</li>
            <li>Pretty row 41</li>
            <li>Pretty row 42</li>
            <li>Pretty row 43</li>
            <li>Pretty row 44</li>
            <li>Pretty row 45</li>
            <li>Pretty row 46</li>
            <li>Pretty row 47</li>
            <li>Pretty row 48</li>
            <li>Pretty row 49</li>
            <li>Pretty row 50</li>
        </ul>
        <div id="pullUp" class="ub ub-pc c-gra">
            <div class="pullUpIcon"></div>
            <div class="pullUpLabel">上拉显示更多...</div>
        </div>
    </div>
</div>
<ul class="ul">
    <li class="li clearfix m15">
        <div class="fl"><img class="img" src="http://dummyimage.com/96x56/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></div>
        <div class="fl">
            <div class="m15">
                <div class="title">上海节能凑拢节凑拢公司</div>
                <div class="prop"><span class="glyphicon glyphicon-map-marker">上海</span><span class="glyphicon glyphicon-plus-sign">环保节能</span></div>
            </div>
        </div>
    </li>
    <li class="li clearfix m15">
        <div class="fl"><img class="img" src="http://dummyimage.com/96x56/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></div>
        <div class="fl">
            <div class="m15">
                <div class="title">上海节能凑拢节凑拢公司</div>
                <div class="prop"><span class="glyphicon glyphicon-map-marker">上海</span><span class="glyphicon glyphicon-plus-sign">环保节能</span></div>
            </div>
        </div>
    </li>
    <li class="li clearfix m15">
        <div class="fl"><img class="img" src="http://dummyimage.com/96x56/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></div>
        <div class="fl">
            <div class="m15">
                <div class="title">上海节能凑拢节凑拢公司</div>
                <div class="prop"><span class="glyphicon glyphicon-map-marker">上海</span><span class="glyphicon glyphicon-plus-sign">环保节能</span></div>
            </div>
        </div>
    </li>
</ul>
