<div class="row">
    <form class="sform" >
       
            <input type="email" class="form-control" 
            id="inputEmail3" placeholder="Email">
          
    </form>
    </div>
    <div class="row listrow">
        <div class="col-xs-4"><img class="img" src="http://dummyimage.com/96x56/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></div>
        <div class="col-xs-8">
            <div class="info">
                <div class="title">上海节能凑拢节凑拢公司</div>
                <div class="prop"><span class="glyphicon glyphicon-map-marker">上海</span><span class="glyphicon glyphicon-plus-sign">环保节能</span></div>
            </div>
        </div>
    </div>
