<div>
    <div class="row" style="background-color: #F0EFF4">
        <form class="sform">
            <div class="input-group" style="margin:0 10px; width: 100%;">
                <input type="text" style="margin-top: -3px; border-radius: 4px;" class="form-control" ng-model="keyword" placeholder="搜索公司名称" aria-describedby="basic-addon1"><span class="input-group-addon" style="cursor:pointer;border: none;" id="basic-addon1">
<span class="glyphicon glyphicon-search" style=" margin-left: -52px; margin-top: -2px;
    z-index: 3;" ng-click="ckSearch()"></span></span>
            </div>
        </form>
    </div>
    <div class="row">
        <div id="content">
            <div id="scroller">
                <div class="hide remark-text">下滑刷新</div>
                <div id="pullDown" class=" hide ub ub-pc c-gra">
                    <div class="pullDownIcon"></div>
                    <div class="pullDownLabel hide">下滑刷新</div>
                </div>
                <ul id="add" class="ul">
                    <li class="li clearfix m15
 row" style="padding-bottom: 10px;" ng-repeat="item in items">
                        <div class=" col-xs-3"><img class="img" ng-src="{{item.logo_path}}" src="http://dummyimage.com/96x62/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></div>
                        <div class="col-xs-9">
                            <div class="m15 row">
                                <div class="title col-xs-12" style="margin-top: 6px;">
                                    <a href="/web/index.html#/view-company/{{item.id}}" style="color: #000;font-size:15px;" ng-bind="item.name"></a>
                                </div>
                            </div>
                            <div class="prop row" style="margin:0 ;padding: 0;margin-top: -6px;font-weight: bold;font-size:13px;"><span class="glyphicon glyphicon-map-marker" style="margin-right: 5px; margin-left: 15px;"></span><span ng-bind="item.city_name"></span><span class="glyphicon glyphicon-plus-sign" style="margin-right: 5px;margin-left: 30px;"></span><span ng-bind="item.type_name"></span></div>
                        </div>
                    </li>
                </ul>
                <div id="pullUp" class="hide ub ub-pc c-gra">
                    <div class="pullUpIcon"></div>
                    <div class="pullUpLabel hide"></div>
                </div>
                <div class="hide remark-text">上滑加载更多</div>
            </div>
        </div>
    </div>
</div>
