<div class="row">
    <div id="project-content" style="top:52px;">
        <div id="scroller">
            <div class="hide remark-text">下滑刷新</div>
            <div id="pullDown" class="hide ub ub-pc c-gra">
                <div class="pullDownIcon"></div>
                <div class="pullDownLabel hide">下滑刷新</div>
            </div>
            <ul id="add" class="ul">
                <li class="li clearfix m15" ng-repeat="item in items">
                    <div class="fl">
                        <div class="m15" style="text-align:center;">
                            <div class="title">
                                <a href="#/view-project/{{item.id}}" ng-bind="item.title"></a>
                            </div>
                            <div class="prop"><span class="glyphicon glyphicon-plus-sign" ng-bind="{{item.type_name}}"></span><span class="glyphicon glyphicon-map-marker" style="margin-left:5px;">{{item.view_count}}人阅读</span></div>
                        </div>
                    </div>
                    <div class="fr"><img class="img" src="http://dummyimage.com/96x62/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></div>
                </li>
            </ul>
            <div id="pullUp" class="hide ub ub-pc c-gra">
                <div class="pullUpIcon"></div>
                <div class="pullUpLabel hide">上滑加载更多...</div>
            </div>
            <div class="hide remark-text">上滑加载更多</div>
        </div>
    </div>
</div>
