<div>
    <div ng-show="showMark" ng-click="ckHide()" style="width:100%;height: 900px;overflow:hidden;position:absolute;top:0;left:0;">
        <img style="width:100%;position: fixed;top:0;left:0;z-index: 9999" src="/web/images/wechat.jpg" />
    </div>
    <div class="jumbotron" style="padding:15px 0;background-color: #fff;">
        <div>
            <img ng-src="{{project.main_image_path}}" style="width:100%" alt="{{project.title}}">
            <div class="lead" style="filter:alpha(opacity=50); margin-top:-30px;  -moz-opacity:0.6;
    -khtml-opacity: 06;
    opacity: 0.6;background-color:#555; width:100%; min-height:30px; color:#fff;" ng-bind="project.title">
            </div>
        </div>
        <p class="h6" ng-bind="project.descript">
        </p>
        <br />
        <div class="row" style="padding:10px 0;background-color: #eee; text-align: left;" ng-show="!showList&&(!!project.project_type||!!project.project_address||!!project.project_contact_phone)">
            <div style="padding:10px 0; ">
                <span class=" glyphicon glyphicon-triangle-right " style="margin-left:10px;padding:3x 0 " ng-show="!!project.project_name ">
                <span ng-bind="project.project_name " ></span>
                </span>
                <br/>
                <span class=" glyphicon glyphicon-triangle-right " style="margin-left:10px;padding:3px 0 " ng-show="!!project.project_type ">
                <span ng-bind="project.project_type " ></span>
                </span>
                <span class="glyphicon glyphicon-triangle-right " style="margin-left:10px;padding:3x 0 " ng-show="!!project.project_area ">
                <span ng-bind="project.project_area " ></span><span>M<sup>2</sup></span>
                </span>
                <br/>
                <span class="glyphicon glyphicon-triangle-right " style="margin-left:10px;padding:3px 0; " ng-show="!!project.project_address "> 
             <span ng-bind="project.project_address " ></span></span>
                <br/>
                <span class="glyphicon glyphicon-triangle-right " style="margin-left:10px;padding:3px 0; " ng-show="!!project.project_design_company "> 
             <span ng-bind=" '设计：'+project.project_design_company " ></span></span>
                <br/>
                <span class="glyphicon glyphicon-triangle-right " style="margin-left:10px;padding:3px 0; " ng-show="!!project.project_action_company "> 
             <span ng-bind=" '施工：'+project.project_action_company " ></span></span>
                <br/>
                <span class="glyphicon glyphicon-triangle-right" style="margin-left:10px;padding:3px 0; " ng-show="!!project.project_contact_phone ">  
            <span ng-bind="'联系：'+project.project_contact_phone"></span></span>
                <br/>
            </div>
        </div>
        <p id="project-desc " ng-bind-html="project.content ">
        </p>
        <p ng-show="hasCompany ">
            <img src="/web/images/contact.png " style="width:100%; " />
        </p>
    </div>
    <div class="row text-center " ng-show="hasCompany " style="background-color:#555;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; width:100%;margin-left:auto;margin-right: auto;margin-top:-60px; ">
        <div class="row " style="margin-left:0;margin-right: 0; ">
            <div class="col-xs-2 " style="margin:0;padding:0 ">
                <img ng-src="{{company.logo_path}} " style="width:60px;height:60px; margin:30px 10px; " class="img-circle ">
            </div>
            <div class="col-xs-10 " style="margin:0;padding:0 ">
                <div class="row text-center " style="margin:0;padding:0 ">
                    <div class="h4 row " style="color:rgb(0, 159, 143);font-weight: bold;margin:0;padding:0;margin-top:15px; ">
                        <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                        <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                        <div class="col-xs-10 text-left " style="margin:0;padding:0 " ng-bind="project.user_name "></div>
                    </div>
                </div>
                <div class="row " style="margin:0;padding:0 ">
                    <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                    <div class="col-xs-1 " style="margin:0;padding:0 "> <span class="glyphicon glyphicon-home " style="color:rgb(0, 159, 143); "></span></div>
                    <div class="col-xs-10 text-left " style="margin:0;padding:0 "><span style="color:#fff; ">{{company.name}}</span></div>
                </div>
                <div class="row " style="margin:0;padding:0 ">
                    <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                    <div class="col-xs-1 " style="margin:0;padding:0 "> <span class="glyphicon glyphicon-earphone " style="color:rgb(0, 159, 143); "></span></div>
                    <div class="col-xs-10 text-left " style="margin:0;padding:0 "><span style="color:#fff; ">{{company.phone}}</span></div>
                </div>
                <div class="row " style="margin:0;padding:0;margin-bottom: 95px; ">
                    <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                    <div class="col-xs-1 " style="margin:0;padding:0 "> <span class="glyphicon glyphicon-map-marker " style="color:rgb(0, 159, 143); "></span></div>
                    <div class="col-xs-10 text-left " style="margin:0;padding:0 "><span style="color:#fff; ">{{company.address}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-fixed-bottom " ng-show="isShowShare " style="clear:both;text-align: center;width:100%;padding-bottom: 10px; background-color: #fff; ">
        <img src="/web/images/contact_b.png " style="width:100%; position: relative;top:0px; " />
        <button class="btn btn-danger btn-lg " id="btnShareToFriends " ng-click="ckShareToFriends() " style="margin-top:20px; ">分享到朋友圈</button>
    </div>
</div>
