<div>
    <div ng-show="showMark" ng-click="ckHide()" style="width:100%;height: 900px;overflow:hidden;position:absolute;top:0;left:0;">
        <img style="width:100%;position: fixed;top:0;left:0;z-index: 9999" src="/web/images/wechat.jpg" />
    </div>
    <div class="jumbotron" style="padding:15px 0;background-color: #fff;border-bottom: none;">
        <div style="margin:-16px -15px -15px -15px; ">
            <img ng-src="{{project.main_image_path}}" style="width:100%" alt="{{project.title}}">
            <div class="lead  text-center h2" style="filter:alpha(opacity=65); margin-top:-65px; padding-top:15px; font-weight:bold;font-size:16px; -moz-opacity:0.65;-khtml-opacity: 0.65
;opacity:{{opacity}}; background-color:#555; width:100%; height:65px;color:#fff">
            </div>
            <div style="color:#fff !important;position:relative;width:99%;text-align:center;top:-64px;font-size: 19px;font-weight: 700;overflow: hidden; word-break: keep-all;
    white-space: nowrap;text-overflow:ellipsis;padding: 0 0 0 17px;" ng-bind-html="project.descript">
            </div>
        </div>
        <p style="font-size: 18px; font-weight: 700; margin-top:-37px; padding-top: 0;margin-bottom: 9px;color:#000;" ng-bind="project.title">
        </p>
        <div class="row" style="padding:10px 0;background-color: #eee;  text-align: left; margin:10px -15px; font-size:16px;font-weight: 600;" ng-show="!showList&&(!!project.project_type||!!project.project_address||!!project.project_contact_phone||!!project.project_contact_name||!!project.project_contact_action_company||!!project.project_design_company||!!project.project_contact_area)">
            <div style="padding:0px 0; margin:0 auto;text-align: left;padding-left:24px; ">
                <span style="padding:3px 0 ;display: block;" ng-show="!!project.project_type ">
                <span ng-bind="'类型：'+project.project_type" ></span>
                </span>
                <span style="padding:3x 0 ;display: block;" ng-show="!!project.project_area ">
                <span ng-bind="'面积：'+project.project_area+'平方米'" ></span>
                </span>
                <span style="padding:3px 0;;display: block; " ng-show="!!project.project_design_company "> 
                <span ng-bind=" '设计：'+project.project_design_company" ></span>
                </span>
                <span style="padding:3px 0;;display: block; " ng-show="!!project.project_action_company "> 
                <span ng-bind=" '施工：'+project.project_action_company " ></span>
                </span>
                <span style="padding:3px 0;display: block; " ng-show="!!project.project_address "> 
                  <span ng-bind="'地址：'+project.project_address" ></span>
                </span>
            </div>
        </div>
        <p id="project-desc" style="font-size:15px;font-weight: 200; margin: 0 -8px 0 7px;" ng-bind-html="project.content">
        </p>
    </div>
    <div class="row text-center " ng-show="hasCompany" style="background-color:#eee;width:100%;margin-left:6px;margin-right: -6px;margin-bottom: 10px;margin-top: -50px;">
        <div class="row " style="margin-left:0;margin-right: 0; ">
            <div class="col-xs-2 " style="margin:0;padding:0 ">
                <img ng-src="{{company.logo_path}} " style="width:55px;height:55px; margin:10px;border:none;">
            </div>
            <div class="col-xs-10 " style="margin: 12px 0 10px 0;padding:0 5px; ">
                <div class="row " style="margin:0;padding:0;font-size: 13px; ">
                    <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                    <div class="col-xs-11 text-left " style="margin:0;padding:0 "><span style="color:#000; ">{{company.name}}</span></div>
                </div>
                <div class="row " style="margin:0;padding:0;font-size: 13px; ">
                    <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                    <div class="col-xs-11 text-left " style="margin:0;padding:0 "><span style="color:#000; ">{{company.address}}</span></div>
                </div>
                <div class="row " style="margin:0;padding:0 ;font-size: 13px;">
                    <div class="col-xs-1 " style="margin:0;padding:0 "></div>
                    <div class="col-xs-11 text-left " style="margin:0;padding:0 "><span style="color:#000; ">{{company.phone}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isShowShare " style="clear:both;text-align: center;width:100%; background-color: #fff;    margin: 1px 0 11px 6px; ">
        <button class="btn btn-primary btn-lg btn-block " id="btnShareToFriends " ng-click="ckShareToFriends() " style="border-radius: 5px; background:#7490FD;border:0; ">分享到朋友圈</button>
    </div>
</div>
