<div class="jumbotron">
    <div>
        <img src="images/yeoman.png" style="width:100%" alt="I'm Yeoman">
    </div>
    <div style="filter:alpha(opacity=50); margin-top:-40px;
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;background-color:gray; width:100%;">我是中国人</div>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman">
        <br> Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
        HTML5 Boilerplate is a professionalprofessionalprofessionalprofessional front-end template for building fast, robust, and adaptable web ap ps or sites .
    </p>
    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>
    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div>
