$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
    p {
        font-size: 17px;
        font-weight: normal;
        line-height: 1.5em;
    }
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    border: #fffff;
    p + h4 {
        margin-top: 28px;
    }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.co {
    color: rgb(0, 159, 143);
}

.focusbg {
    background: url("images/focush.png") no-repeat;
    width: 100%;
    height: 120px;
}

.headTab {
    background-color: #00DAC6;
    color: #000;
    height: 30px;
    float: left;
    text-align: center;
    width: 100%;
    padding-top: 4px;
    > span {
        display: block;
        height: 30px;
        width: 100%;
        font-size: 17px;
        line-height: 1.5em;
    }
}

.tactive {
    color: #000;
    font-weight: bold;
    /*background-color: #e0ede6*/
}

.tabbl {
    border-right: 1px solid #ddd
}

.tabb2 {
    border-left: 1px solid #dddd
}

.mp0 {
    padding-left: 0;
    padding-right: 0;
}

.m15 {
    margin: 15px 0;
}

.pagebg {
    background-color: #fff;
    /* rgb(240, 240, 240);*/
}

.search {
    margin-left: 30px 0;
    width: 300px;
}

.sform {
    margin: 10px;
}

.ul {
    list-style-type: none;
    background-color: rbg(240, 239, 244);
    display: block;
    .li {
        text-align: left;
        background-color: #fff;
        .img {
            border: none;
            margin: 10px 15px 0px 15px;
            width: 60px;
            height: 60px;
        }
        .title {
            font-size: 15px;
            font-weight: bold;
            display: block;
            overflow: hidden;
            max-height: 40px;
            min-height: 35px;
            a:visited {
                color: #ccc;
            }
        }
        .prop {
            color: rgb(0, 159, 143);
            padding: 10px 0;
        }
    }
    padding: 0px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content,
#project-content,
#company-list-content {
    z-index: 1;
    top: 0;
    bottom: 0px;
    width: 100%;
    min-width: 320px;
    max-width: 730px;
    background: #F0EFF4;
    overflow: hidden;
}

.is-sticky {
    margin: 0 -15px 0 -4px!important;
    #navbar {
        margin-left: 9px!important;
    }
    #navbar_com {
        margin-left: 9px!important;
    }
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.remark-text {
    position: absoulte;
    top: 100px;
    z-index: 999;
    margin-left: 50px;
}

#pullDown,
#pullUp {
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(img/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon,
#pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    .to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

#project-desc img {
    width: 100%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-start {
    clip: rect(0, auto, auto, 0);
    -ms-zoom: 1.0001;
}

.ng-animate-active {
    clip: rect(-1px, auto, auto, 0);
    -ms-zoom: 1;
}

.mytab {
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5em;
    padding: 0;
    margin: 0 -15px;
    >li {
        list-style: none;
        margin: 0;
        padding: 5px 0;
        width: 50%;
        height: 34px;
        text-align: center;
        >a {
            width: 100%;
            margin: 5px 0;
            text-decoration: none;
            color: rgb(0, 159, 143);
        }
    }
    .iactive {
        border-bottom: 2px solid #777;
        color: #333;
        >a {
            color: #333;
        }
    }
}
