<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">用户管理</h1>
</div>
<div class="wrapper-md text-center" ng-controller="UsersCtrl">
    <div class="input-group" style="width: 500px;">
        <input type="text" ng-model="keyword" class="form-control" placeholder="搜索用户名称" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2" ng-click="ckSearch()">搜索</span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr align="center">
                <td style="width:50px;">ID</td>
                <td>用户名称</td>
                <td style="width:90px;">真实姓名</td>
                <td style="width:80px;">QQ号码</td>
                <td style="width:90px;">电话</td>
                <td style="width:80px;">手机</td>
                <td style="width:90px;">Email</td>
                <td style="width:200px;">操作</td>
            </tr>
        </thead>
        <tbody align="center">
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>{{item.user_name}}</td>
                <td>{{item.real_name}}</td>
                <td>{{item.qq_number}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.email}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="ckUserView(item.id)">查看</button>
                    <button type="button" class="btn btn-primary" ng-click="ckUserEdit(item.id)">编辑</button>
                    <button type="button" class="btn btn-danger" ng-click="ckUserDelete(item.id)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
</div>
